.watof-mockup {
  background-image: url("../assets/PNG/watofMockupHero.png");
  height: 18em;
  width: 28em;
  background-repeat: no-repeat;
  background-size: contain;
  top: 0em;
}
.mobile-watof-mockup {
  background-image: url("../assets/PNG/watofMockupHero.png");
  height: 12em;
  width: 19.5em;
  background-repeat: no-repeat;
  background-size: contain;
}
.watof-title {
  line-height: 1.4em;
}

/* PEHO Values */
.value-box-image-accountabilty img {
  width: 2.8em;
}
.value-box-image-afghanLed img {
  width: 1.2em;
}
.value-box-image-equality img {
  width: 2.8em;
}
.value-box-image-trust img {
  width: 3em;
}

/* Our motive */
.our-motive-mockup {
  width: 30em;
  background-image: url("../assets/PNG/ourMotiveMockup.png");
  background-repeat: no-repeat;
  background-size: cover;
  padding: 3em;
  padding-left: 4em;
}

/* We are changing */
.wac-mockup {
  background-image: url("../assets/PNG/wacMockup.png");
  background-repeat: no-repeat;
  background-size: cover;
  width: 30em;
  height: 25em;
}

@media (min-width: 600px) {
  
  .mobile-peho-value-container{
    z-index: -30;
  }
}
.mobile-our-motive-mockup {
  width: 22em;
  background-image: url("../assets/PNG/mobile-OurMotiveMockup.png");
  background-repeat: no-repeat;
  background-size: cover;
  padding: 1.5em;
  padding-left: 4.6em;
}
.mobile-wac-mockup {
  background-image: url("../assets/PNG/mobile-wacMockup.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: 16.5em;
  width: 20em;
}
