.footer-container{
  display: flex;
  flex-direction: row;
  width: 100vw;
  justify-content: space-between;
  padding: 5em;
}

.footer-logo-box{
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.footer-logo-box img{
  height: 5em;
  margin-bottom: 2em;
}

.footer-socialMediaIcons-box img{
  height: 1.3em;
  margin-right: 1em;
  margin-top: 1em
}

.support-links-box a {
  line-height: 2em;
  color: white;
  font-weight: 200;
}
.support-links-box {
  display: flex;
  flex-direction: column;
}
.footer-connect-text{
  font-size:larger;
}
.mobile-footer-container{
  visibility: hidden;
}

@media (max-width: 500px) {
  .footer-container{
    visibility: hidden;
  }
  .mobile-footer-container{
    visibility: visible;
    width: 100vw;
    height: 10em;
  }

}