.hero-mockup {
  background-image: url("../assets/PNG/birdMockup.png");
  background-size: cover;
  background-repeat: no-repeat;
  padding: 7em;
}
.homepage-hero-container {
  min-height: 100vh;
  padding: 7em;
  background-image: linear-gradient(90deg, #31a0da 60%, rgb(255, 255, 255) 40%);
}
.homepage-hero-container{
  display: flex;
  margin: auto;
  justify-content: center;
  align-items: center;
}
.hero-content-box{
  width: 47em;
}

.mobile-hero-mockup{
  background-image: url('../../src/assets/PNG/mobileHeroMockup.png');
  height: 30em;
  background-repeat: no-repeat;
}
/* Mobile version */

.mobile-wwd-pic{
  width: 20.5em;
  height: 11em;
  background-size:contain;
}
