.navbar-box {
  display: flex;
  flex-direction: row;
  width: 100vw;
  padding: 1em;
  align-items: center;
}

.navlogo-box img {
  height: 4em;
  margin-right: 3em;
  margin-left: 5em;
}

.navLinks-box a{
  margin-right: 2em;
}

.mobile-navbar-box{
  visibility: hidden;
}

@media (max-width: 600px) {
  .navbar-box{
    visibility: hidden;
  }

  .mobile-navbar-box{
    visibility: visible;
  }

  
}