.navbar-container {
  top: 0em;
  left: 0em;
  position: fixed;
  height: fit-content;
  z-index: 10;
}
.navbar-box {
  display: flex;
  flex-direction: row;
  width: 100vw;
  padding: 1em;
  align-items: center;
  height: 6em;
}

.navlogo-box img {
  height: 3.5em;
  margin-right: 3em;
  margin-left: 5em;
}

.navLinks-box a{
  margin-right: 2em;
}

.mobile-navbar-box{
  visibility: hidden;
}

@media (max-width: 600px) {
  .navbar-box{
    visibility: hidden;
  }

  .mobile-navbar-box{
    position: fixed;
    visibility: visible;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 2em;
    top: 0em;
    width: 100vw;
  }
  .mobile-navlogo-box img {
    height: 3em;
  }
  .burger-bar {
    width: 30px;
    height: 2px;
    background-color: rgb(255, 255, 255);
    margin-bottom: 0.3em
  }

  .mobile-slideMenu-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    top: 0em;
    left: 0em;
    height: 100vh;
    width: 80vw;
    background-color: rgba(0, 0, 0, 0.9);
    z-index: 20;
  }

  .slideMenu-link {
    padding: 1em;
  }

  .slideMenu-link:hover {
    background-color: rgba(255, 255, 255, 0.269);
  }
  .slideMenu-link a {
    color: white;
  }

}